doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    script(src='js/lib/angular.min.js')
    script(src='js/aluno/aluno-controller.js')

    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/aluno/aluno.css')
    link(rel='stylesheet', href='css/aluno/aluno-normalize.css')

    title Alunos

  body
    div(ng-app='app')
      h1 Aluno
      div(ng-controller='aluno-controller')
        table.table.table-bordered.table-hover.table-aluno
          tr
            th ID
            th Nome
            th RA
            th CPF
            th E-mail
            th Data Nascimento
          tr(ng-repeat='aluno in alunos')
            td {{aluno._id}}
            td {{aluno.nome}}
            td {{aluno.ra}}
            td {{aluno.cpf}}
            td {{aluno.email}}
            td {{aluno.dtaNasc}}
